body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  color: #333;
}
h1{
  text-align: center;
}
a{
  text-decoration: none;
}
.card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.card h2 {
  color: #f06c75;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  color: #777;
}

.get-started-btn {
  background-color: #fa95a0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.get-started-btn:hover {
  background-color: #f77080;
}

.card-back {
  background-color: #f8f2f2;
  color: #333;
}

.card-back select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}




nav ul{
  display: flex;
  list-style-type: none;
  gap: 75vw;
  margin: 0px;
  justify-content: space-around;
  padding: 0px;
}
nav a{
  text-decoration: none;
  color: #333;
}
nav{
  width: 98vw;
  height: 10vh;
}
